<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<!-- 이 파일의 역할은 데이터 저장빈 클래스 객체 별칭을 관리함으로써 mybatis 매퍼태그 속성에 들어가는 코드를 줄일 수 있다. -->
		<typeAlias type="shop.HealthJava.vo.AdminVO" alias="admin" /> <!-- MemberVO빈클래스 객체 별칭이름 admin로 지정 -->
		<typeAlias type="shop.HealthJava.vo.MemberVO" alias="member" /> <!-- MemberVO빈클래스 객체 별칭이름 member로 지정 -->
		<typeAlias type="shop.HealthJava.vo.ProductVO" alias="product" /> <!-- MemberVO빈클래스 객체 별칭이름 product로 지정 -->
	</typeAliases>
</configuration>